$blue : #3D5A80;
$background : #98C1D9;
$text : #E0FBFC;
$highlight : #d82800;
$border : #293241;
$another-background: #F6FDFE;
$cart-background: rgb(41, 60, 85);
// color palette https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241

