@import 'Var';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

p, ul {
  margin:0;
}

.App {
  text-align: center;
}

.main-container {
  background-color: $text;
}